

:root {
    --bg_color: #f45;
    --animateHeaderTitle: rgb(255, 94, 94);
    --baseTransition: all .15s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li span {
    font-weight: bold;
}

hr {
    margin: 3rem 1rem;
}

header {
    background: var(--bg_color);
    text-align: center;
    padding: .75rem 0;
    transition: var(--baseTransition);
}

header h1 {
    color: white;
    user-select: none;
}

main section, main section ul {
    padding: 0 1rem;
}

li, main section, main section h2 {
    margin: 1rem 0;
}


.animateHeaderTitle {
    background: var(--animateHeaderTitle);
    transition: var(--baseTransition);
}